body {
    background-color: #2b0505;
}

h1 {
    color: #ffffff;
    background-color: #000000;
}

h2 {
    color: #3b0525;
    background-color: #ffffff;
}

h3 {
    color: #ffffff;
    background-color: #8b0000;
}
p{
    color:#ffffff
}